.add_card {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    vertical-align: middle;
    text-align: center;
    border: 2px dotted rgb(1, 66, 139);
    border-radius: 8px;
    margin-top: 20px;

    input, textarea {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    }
}