* {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.skills {
    display: flex;
    justify-content: space-around;
}

.header-div {
    display: flex;
    justify-content: center;
}

.header {
    width: 60%;
    height: 200px;
    line-height: 200px;
    font-size: 32px;
    display: flex;
    justify-content: center;
    background-image: url(/public/images/bg.png);
    background-size:cover;
    color: white;
    border-top: 3px solid rgb(2, 69, 146);
    border-bottom: 3px solid rgb(2, 69, 146);
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
}

.keys {
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
}

.ul-card {
    width: 30%;
    border: 3px solid rgb(2, 69, 146);
    border-radius: 8px;
}

.li-key {
    margin-bottom: 20px;
    font-size: 20px;
}

.ul-key {
    list-style:square;
}

.keys-header {
    display: block;
    padding-top: 30px;
    font-size: 28px;
    text-align: center;
}

.helper {
    font-size: 14px;
    height: 50px;
    line-height: 50px;
    width: fit-content;
    border: 1px solid blueviolet;
    background: linear-gradient(to left, rgba(153, 198, 250, 0.7), rgba(120, 233, 255, 0.7));
    border-radius: 10px;
    position: fixed;
}